body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8F0F2; /* Light Blue */
  margin: 0;
}

.container {
  background-color: #FFFFFF; /* White */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 450px;
  position: relative;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #2C3E50; /* Charcoal Gray */
  text-align: center;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 12px;
  width: calc(100% - 24px); /* Adjust width to fit within container */
  border: 1px solid #B0BEC5; /* Light Blue Gray */
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

input {
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #1E90FF; /* Dodger Blue */
  outline: none;
}

button {
  background-color: #1E90FF; /* Dodger Blue */
  color: #FFFFFF; /* White */
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #1C75D6; /* Dark Dodger Blue */
}

button:active {
  transform: scale(0.98);
}

#message {
  margin-top: 10px;
  color: #2C3E50; /* Charcoal Gray */
  font-weight: bold;
  text-align: center;
}

.suggestions {
  position: absolute;
  top: 40%; /* Position directly below the item input */
  left: 10;
  width: calc(100% - 64px);
  border: 1px solid #B0BEC5; /* Light Blue Gray */
  background: #ECF6F9; /* Very Light Blue */
  z-index: 1000;
  max-height: 180px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2px; /* Space between the input and suggestions */
}

.suggestions div {
  padding: 12px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #E0F1F4; /* Light Blue Tint */
}

#continue-btn {
  background-color: #1E90FF; /* Dodger Blue */
}

#continue-btn:hover {
  background-color: #1C75D6; /* Dark Dodger Blue */
}

#exit-btn {
  background-color: #FF6347; /* Tomato */
}

#exit-btn:hover {
  background-color: #C62828; /* Darker Red */
}

#restart-btn {
  background-color: #FF9800; /* Orange */
}

#restart-btn:hover {
  background-color: #F57C00; /* Darker Orange */
}

#export-btn {
  background-color: #4CAF50; /* Green */
}

#export-btn:hover {
  background-color: #388E3C; /* Darker Green */
}
